body{
    font-family: "Poppins ";
  
}

.top-header{
    background: black;
    padding:20px;
}
.top-head-icons ul{
    display:flex;
    gap:15px;
    margin:0;
    padding:0;
}

.top-head-icons li{
    font-size:20px;
    list-style: none;
    color:white;
    cursor: pointer;
    transition: color 0.3s ease;
}
.top-head-icons li:hover {
    color: #007bff; 
}
.tophead-call{
    color:white;
    margin-left: 180px;
    padding:0;
    cursor: pointer;
    transition: color 1s ease;
}
.tophead-call h5:hover {
    color: #007bff; 
}
 



.navbar{
    background: whitesmoke;
    margin: 0px;
}
.navbar ul{
    list-style:none;
    display: flex;
    gap:40px;
    margin-left: 12rem;
    padding-top: 10px;
    font-weight: bold;


}
.navbar ul li{
    transition: color 0.5s ease, text-decoration 0.5s ease;

}
.navbar ul li:hover{
    color:red;
    text-decoration: underline;
}
.navbar span{
    color:red;
}
.hero-section {
  position: relative;
  text-align: center;
}

.hero-section img {
  width: 100%;
  height: 80vh;

}

.hero-section-content {
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
  font-weight:bold;

 
}
.quote-form{
    display: flex;
    padding: 20px;
    background: black;
    color: white;
    font-size: 22px;
}
.quote-content p{
    margin:0;
    padding-left: 25px;
}
.quote-button{
    margin:0;
    margin-left:38rem;
}
.btn1{
    background: red;
    border:none;
    color:white;
    padding:8px;
    font-size: 20px;
}
.cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}
.info-card {
  background: #fff;
  padding: 20px;
  margin: 10px 30px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.info-card h5{
    font-weight: bold;
}
.info-card:hover{
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7);
}

.icons{
  font-size: 36px;
  color: white;
  background-color: red;
  border-radius: 50%;
  width:60px;
  height:60px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
  margin: 0 auto 12px;
}
.about-section{
    position: relative;
    
}
.about-image{
    position: relative;
    max-width: 100%;
}
.about-image img{
    width: 100%;
    align-items: center;
    height: 60vh;
    padding: 10px 50px;
    position:relative;
  
}
.experience-card {
  background-color: red; 
  color: white;
  position: absolute;
  top: 73%;
  left: 45%;
  opacity: 40%;
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  width: fit-content;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  cursor: pointer;
}
.experience-card:hover{
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(231, 53, 53, 0.7);
}

.experience-card strong {
  font-size: 28px;
}
.about-text{
    padding:15px 60px;
    margin: 0px 30px;

}
.about-text-header{
    text-align: center;
}
.about-text-header h5{
    color:gray;
    padding-top: 10px;
}
.about-text-header h3{
    font-weight: bold;

}
.about-text-header span{
    color:red;
}
.about-text-para{
    padding: 10px 50px;
    text-align: center;
    justify-content: center;
}
.about-text-para p{
    margin-top: 10px;
}
.about-button{
    margin-bottom: 20px;
}
.btn2{
    background: red;
    border:none;
    color:white;
    margin-left: 38rem;
    padding:8px;
    font-size: 20px;
}
